* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    color: #161b1c;
}

body {
    padding: 0px 32px;
    margin: 0;
    background: #ffffff;
    border-top: 18px solid rgba(0, 190, 222, 0.5);
}

.header {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 20px;
    box-sizing: border-box;
}

.header span {
    font-size: 5em;
}

.header .romaji-title {
    font-size: 2em;
    color: #414546;
}

.content {
    background-color: #f7f7f7;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .section-title {
    font-weight: bold;
    font-size: 1.5em;
}

.content .section-small {
    padding: 6px 0px;
    margin: 0;
    font-size: 0.7em;
}

.italics {
    font-style: italic;
}

.download-prompt {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    padding: 30px 40px;
    box-sizing: border-box;
    min-width: 400px;
    border-radius: 20px;
}

.button-padding {
    padding-top: 16px;
}

button.button-primary {
    font-size: 12px;
    color: rgba(0, 25, 50, 1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 12px;
    background-color: rgba(0, 190, 222, 0.4);
    border: 0;
    outline: 0;
}

button.button-primary.disabled {
    background-color: rgba(225, 225, 225, 0.4);
    color: rgb(104, 104, 104);
}

yomu-highlighted-word {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: inset 0px -0.25em 0px rgba(0, 190, 222, 0.5);
}

yomu-highlighted-word.thinking {
    opacity: 0.6;
    box-shadow: inset 0px -0.5em 0px rgba(0, 190, 222, 0.88);
}

yomu-highlighted-word:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0px -0.5em 0px rgba(0, 190, 222, 0.88);
}

yomu-highlighted-word.error {
    box-shadow: inset 0px -0.25em 0px rgba(222, 22, 0, 0.5);
    animation: error-fade 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes error-fade {
    0% {
        box-shadow: inset 0px -0.25em 0px rgba(222, 22, 0, 0.5);
    }
    100% {
        box-shadow: inset 0px -0.25em 0px rgba(0, 190, 222, 0.5);
    }
}

@keyframes yomu-dictionary-in {
    0% {
        transform-origin: bottom left;
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform-origin: bottom left;
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes yomu-dictionary-out {
    0% {
        transform-origin: bottom left;
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform-origin: bottom left;
        transform: scale(0.8);
        opacity: 0;
    }
}

yomu-dictionary-box {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    background-color: #ffffff;
    margin-bottom: 6px;
    position: absolute;
    z-index: 9999;
    padding: 16px;
    border-radius: 4px;
    max-width: 350px;
    box-shadow: rgba(38, 62, 84, 0.36) 0px 4px 10px;
    border-top: 4px solid rgba(0, 190, 222, 0.5);
    animation: yomu-dictionary-in 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

yomu-dictionary-box.transition-out {
    animation: yomu-dictionary-out 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

yomu-dictionary-box span {
    padding: 4px;
    display: block;
}

yomu-dictionary-box span.yomu-dictionary-title {
    font-size: 18px;
    font-weight: bold;
}

yomu-dictionary-box span.yomu-dictionary-reading {
    padding-bottom: 2px;
}

yomu-dictionary-box p {
    padding: 4px;
    padding-top: 8px;
    line-height: 16px;
}

/* fx */
effect-container {
    pointer-events: none;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 6px;
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    max-width: 350px;
    box-shadow: rgba(38, 62, 84, 0.36) 0px 4px 10px;
    z-index: 1000;
    font-size: 12px;
    transform-origin: center center;
    animation: effect 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes effect {
    0% {
        transform: scale(0.1) translateY(0px);
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2) translateY(1em);
        opacity: 0;
        background-color: rgba(0, 0, 0, 1);
    }
}

.no-bottom-padding {
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}

.padding-bottom-2 {
    padding-bottom: 2px !important;
}

.no-top-padding {
    padding-top: 0px !important;
    margin-top: 0px;
}

.padding-top-32 {
    padding-top: 32px !important;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 24px;
    padding-bottom: 36px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

.footer-text {
    color: #52546a;
    text-align: center;
    padding-bottom: 4px;
}

.footer-text a {
    text-decoration: none;
    font-weight: bold;
    color: #33364f;
    transition: 0.3s ease;
}

.footer-text a:hover {
    color: #0c0d15;
}
